.station-directory {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 100%;
}

.station-directory p {
  margin: 0;
  font-size: 0.9rem;
}

.station-directory a {
  text-decoration: none;
  color: #333;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  border-bottom: 1px solid #333;
}

.station-directory a:last-child {
  margin-right: 0;
}

.station-directory a:hover {
  color: #007bff;
  border-color: #007bff;
}

.station-section-h1 {
  background-color: #e3c148;
  margin-top: 1rem;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.station-directory-btn {
  display: flex;
  flex-wrap: wrap;
}

.station-section {
  position: relative;
  height: 400px;
}

.station-section-btn {
  background-color: #e3c148;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
}

.section-btn:hover {
  background-color: #d4b036;
  transform: scale(1.05);
}

.flex-column-container-station {
  display: flex;
  flex-direction: column;
}

.station-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.station-section article {
  position: absolute;
  top: 20%;
  left: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 8px;
  max-width: 90%;
}

.station-section h3 {
  font-size: 1.75rem;
  color: white;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.station-info {
  font-size: 0.85rem;
  background-color: #e3c148;
  color: white;
  padding: 1.5rem;
  line-height: 1.6;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.station-info-description {
  font-size: 0.85rem;
  padding: 2rem 1.5rem;
  width: 100%;
  line-height: 1.6;
}

.station-facts-container {
  background-color: #e3c148;
  color: white;
  font-size: 0.85rem;
  line-height: 1.6;
  padding: 1.5rem;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.station-facts-container h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.station-facts-container li {
  list-style-type: decimal;
  list-style-position: inside;
  background: #ffffff25;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.station-guide-container {
  background-color: #f8f8f8;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  line-height: 1.6;
}

.station-guide-container h3 {
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.station-guide-container li {
  list-style-type: decimal;
  list-style-position: inside;
  background: #fff;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.station-guide-container ::marker {
  font-weight: bold;
  color: #e3c148;
}

.station-guide-container li p {
  margin-right: 0.5rem;
  color: #666;
}

.station-guide-container p {
  margin-bottom: 1rem;
  color: #666;
}

.station-tips-container {
  background-color: #e3c148;
  color: white;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.6;
}

.station-tips-container h3 {
  font-size: 1.75rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.station-tips-container p {
  font-size: 0.85rem;
  margin: 0.2rem 0.5rem;
}

.station-tips-container strong {
  color: white;
}

.station-best-practices {
  background-color: #f7f7f7;
  padding: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.6;
}

.station-best-practices h3 {
  font-size: 1.75rem;
  color: #333;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.station-best-practices h4 {
  font-size: 1.25rem;
  color: #555;
  margin: 0.2rem 0.5rem;
}

.station-best-practices p {
  font-size: 0.85rem;
  margin: 0.2rem 0.5rem;
  color: #666;
}

.station-best-practices section {
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.station-best-practices section h4 {
  margin-top: 0;
  padding-left: 1rem;
}

.station-best-practices section p {
  margin-bottom: 0;
}

.station-best-practices ::marker {
  color: #e3c148;
}

.station-best-practices li {
  list-style-type: decimal;
}

.station-services-description {
  background-color: #e3c148;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.6;
}

.station-services-description h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.station-services-description p {
  margin: 0.5rem 0;
}

.station-services-description-btn {
  display: block;
  margin: 1.85rem auto 0 auto;
  background-color: #e3c148;
  color: white;
  padding: 0.85rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
}

.station-services-description-btn:hover {
  background-color: #d4b036;
  transform: scale(1.05);
}

.station-services-description-btn {
  display: block;
  margin: 1.85rem auto 0 auto;
  background-color: #e3c148;
  color: white;
  padding: 0.85rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
}

.station-services-description-btn:hover {
  background-color: #d4b036;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .station-section h3 {
      font-size: 1.25rem;
  }
}