.erbjuder {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #bbe3f7;
  width: 94%;
  margin: 1rem auto;
  padding: 2rem;
}
