.aboutUs {
  display: flex;
  flex-direction: column;
  background: rgb(227, 193, 72);
  margin: 1rem 0.5rem;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: white;
  transition: all 0.3s linear;
}
.aboutUs h1 {
  font-size: 1.8rem;
  margin-top: 4rem;
  line-height: 30px;
  margin-bottom: 1rem;
}

.aboutUs form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f1f5f9;
  height: 300px;
  width: 100%;
  max-width: 600px;
  margin: 1.6rem auto;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: #64748b;
}
.aboutUs form input,
textarea {
  width: 90%;
  height: 2rem;
  border-radius: 5px;
  border: none;
}
.aboutUs form label {
  width: 250px;
  font-size: 0.8rem;
  color: #0369a1;
  margin-bottom: 1rem;
}
.aboutUs form button {
  background: #0369a1;
  color: white;
  height: 2rem;
  width: 90%;
  border: none;
  border-radius: 5px;
  margin: 0.7rem 0;
}
.aboutUs-contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem 0;
}
.map-container {
  margin: 0.5rem 1rem;
  height: 400px;
}
.aboutUs-map {
  width: 100%;
}
.aboutUs-contact div p {
  font-size: 0.85rem;
}
@media screen and (min-width: 900px) {
  .aboutUs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}
