.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #bbe3f7;
  text-align: center;
}
.container {
  margin: 3rem auto;
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.gratis-kollen-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.gratis-kollen-header p {
}
