.footer {
  background: #bbe3f7;
  height: 10rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}
.footer a p {
  font-size: 0.9rem;
}
