@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}
.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.App::-webkit-scrollbar {
  display: none;
}
:root {
  --mainColor: #f44336;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f8fafc;
}

a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}
