nav {
  height: 5rem;
  background: transparent;
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s linear;
  z-index: 101;
}
nav .nav-logo {
  margin-left: 0.5rem;
  cursor: pointer;
  background: #e3c148;
  color: white;
  padding: 0.3rem;
  box-shadow: rgba(245, 244, 244, 0.2) 0px 2px 8px 0px;
}
.nav-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  transition: all 0.3s linear;
  transform: translateX(100%);
}
.show-nav {
  transition: all 0.3s linear;
  transform: translateX(0%);
}
.nav-links {
  display: flex;
}
.nav-links button {
  background: transparent;
  border: navajowhite;
  color: black;
  font-size: 0.9rem;
  font-weight: 700;
  margin-right: 0.75rem;
  opacity: 0.8;
}
.nav-links button:hover {
  opacity: 1;
  transform: scale(1.1);
}
nav .navbar {
  margin-right: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}
.nav-logo img {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.top-nav {
  height: 2rem;
}
.user-contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.user-contact div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.75rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #64748b;
  transition: all 0.3s linear;
}
.user-contact a {
  display: flex;
  align-items: center;
  color: #64748b;
  margin-right: 0.3rem;
  transition: all 0.3s linear;
}
.user-contact a:hover {
  transform: scale(1.1);
}
.nav-menu button {
  background: transparent;
  border: none;
  color: black;
  margin: 0.5rem 0;
  font-size: 1rem;
}
.nav-menu-link:hover {
  border-bottom: 1px solid black;
}
.nav-menu button:hover {
  border-bottom: 1px solid black;
}
.nav-btn-close {
  transition: all 0.3s linear;
}

.nav-links-div {
  border-bottom: 1px solid rgb(245, 243, 243);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
  color: black;
}
.nav-links-div button {
  color: black;
}
.nav-links-div:hover {
  border-bottom: 3px solid rgb(184, 182, 182);
  transition: all 0.3s linear;
}

@media screen and (max-width: 1200px) {
  .nav-links {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    display: none;
  }
}
.call-to-action-phone-latest{
  display: flex;
  align-items: center;
  color: #eabb12;
  cursor: pointer;
}